.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.left-section {
    flex: 1;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcome-text {
    font-weight: bold;
}

.brand-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }